POSTGRES_DB=payments
POSTGRES_USER=user_db_payments
POSTGRES_PASSWORD=pass_Payments_456
DB_USERNAME=user_db_payments
DB_PASSWORD=pass_Payments_456
PROCESSOR_BASE_URL=http://localhost:9091
SOAP_PROCESSOR_URL=http://localhost:9092
SOAP_API_KEY=soap-api-key-dev-2024
